<% content_for :title, t('posts.new.title') %>
<% add_breadcrumb "ホーム", root_path %>
<% add_breadcrumb "投稿一覧", posts_path %>
<% add_breadcrumb "新規投稿" %>

<div class="w-full max-w-4xl">
  <h1 class="font-bold text-2xl sm:text-3xl lg:text-4xl mb-6"><%= t('posts.new.title') %></h1>

  <%= render "form", post: @post %>

  <%= link_to t('actions.back'), posts_path, class: "w-full sm:w-auto text-center mt-4 sm:mt-2 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
